Source: pr2-core-hydro
Section: pr2/config
Priority: extra
Maintainer: Austin Hendrix <ahendrix@willowgarage.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.2

Package: pr2-core-hydro
Architecture: any
Depends: python, ros-hydro-pr2-robot, ros-hydro-openni-launch, pr2-core (>= 0.5.31), pr2-ft
Description: Provides ROS environment configuration files for PR2.
Provides: ${diverted-files}, pr2-core-impl
Conflicts: ${diverted-files}
